/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .pc {
    display: none !important;
  }
}

@media screen and (min-width: 992px) {
  .mb {
    display: none !important;
  }
}

.txt-center {
  text-align: center !important;
}

@font-face {
  font-family: Suzuki;
  src: url("../assets/font/SuzukiPROHeadline.otf");
}
body {
  font-family: "Roboto Flex", sans-serif;
  font-size: 30px;
  line-height: 21px;
  font-weight: 400;
}
@media screen and (max-width: 2560px) {
  body {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  body {
    font-size: 14px;
  }
}

.title {
  font-family: Suzuki;
  font-size: 75px;
  font-family: Suzuki;
  margin-bottom: 26px;
  line-height: 80px;
}
@media screen and (max-width: 2560px) {
  .title {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 60px;
  }
}
@media screen and (max-width: 1920px) {
  .title {
    font-size: 42px;
    margin-bottom: 20px;
    line-height: 45px;
  }
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #00368F;
}

::selection {
  color: #fff;
  background: #00368F;
}

header {
  border-bottom: 1px solid #00368F;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background: #fff;
  transition: margin 0.3s ease;
}
header a {
  color: #000000;
  transition: color 0.3s ease;
}
header a:hover {
  color: #DE1339;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 200px;
}
@media screen and (max-width: 1920px) {
  header nav {
    padding: 16px 150px;
  }
}
@media screen and (max-width: 1440px) {
  header nav {
    padding: 16px 100px;
  }
}
@media screen and (max-width: 1200px) {
  header nav {
    padding: 16px 50px;
  }
}
@media screen and (max-width: 991px) {
  header nav {
    padding: 16px;
  }
}
header nav ul {
  display: flex;
  align-items: center;
}
header .primary .logo {
  width: 160px;
}
@media screen and (max-width: 1300px) {
  header .primary .logo {
    width: 120px;
  }
}
header .primary > li {
  margin-right: 120px;
}
@media screen and (max-width: 1920px) {
  header .primary > li {
    margin-right: 90px;
  }
}
@media screen and (max-width: 1440px) {
  header .primary > li {
    margin-right: 70px;
  }
}
@media screen and (max-width: 1200px) {
  header .primary > li {
    margin-right: 50px;
  }
}
header .primary > li .mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 19px;
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
header .primary > li .mega-menu .menu-wrapper {
  width: 100%;
  background: #fff;
  border-top: 1px solid #00368F;
}
header .primary > li .mega-menu .content.car-model {
  width: 60vw;
  margin: 0 auto;
}
header .primary > li .mega-menu .content.car-model .list {
  display: flex;
  align-items: center;
  padding: 32px 0;
  text-transform: capitalize;
}
header .primary > li .mega-menu .content.car-model .list.passenger {
  border-bottom: 1px solid rgba(51, 51, 51, 0.25);
}
header .primary > li .mega-menu .content.car-model .list h4 {
  width: 20%;
  padding-left: 32px;
  display: inline-block;
  transition: color 0.3s ease;
}
header .primary > li .mega-menu .content.car-model .list h4 span {
  position: relative;
}
header .primary > li .mega-menu .content.car-model .list h4 span::before {
  content: " ";
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 0;
  height: 1.5px;
  background: #DE1339;
  transition: width 0.3s ease;
}
header .primary > li .mega-menu .content.car-model .list:hover h4 span::before {
  width: 100%;
}
header .primary > li .mega-menu .content.car-model .list ul {
  width: 80%;
  display: flex;
}
header .primary > li .mega-menu .content.car-model .list ul li {
  width: 33.3333333333%;
  text-align: center;
}
header .primary > li .mega-menu .content.car-model .list ul li img {
  display: block;
  width: 75%;
  margin: 0 auto 14px;
  transition: transform 0.3s ease;
}
header .primary > li .mega-menu .content.car-model .list ul li a:hover img {
  transform: scale(1.05);
}
header .primary > li .mega-menu .content.secondary {
  padding-top: 35px;
  max-width: 100%;
}
header .primary > li .mega-menu .content.secondary .sub-menu {
  display: inline-flex;
  flex-flow: column wrap;
  height: 120px;
}
header .primary > li .mega-menu .content.secondary .sub-menu .item {
  max-width: 200px;
  margin-bottom: 35px;
  flex: 1;
  flex-shrink: 0;
  margin-right: 50px;
}
header .primary > li .mega-menu .content.secondary .sub-menu .item a {
  position: relative;
}
header .primary > li .mega-menu .content.secondary .sub-menu .item a::before {
  content: " ";
  width: 0;
  height: 1.5px;
  background: #DE1339;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  transition: width 0.3s ease;
}
header .primary > li .mega-menu .content.secondary .sub-menu .item a:hover {
  color: #000000;
}
header .primary > li .mega-menu .content.secondary .sub-menu .item a:hover::before {
  width: 100%;
}
header .primary > li.active .mega-menu {
  opacity: 1;
  visibility: visible;
}
header .secondary li {
  margin-right: 40px;
  cursor: pointer;
}
@media screen and (max-width: 1920px) {
  header .secondary li {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1440px) {
  header .secondary li {
    margin-right: 20px;
  }
}
header .secondary li a, header .secondary li .search {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .secondary li a .hover, header .secondary li a .default, header .secondary li .search .hover, header .secondary li .search .default {
  width: 20px !important;
  display: block;
  margin-left: 8px;
}
header .secondary li a .hover, header .secondary li .search .hover {
  display: none;
}
header .secondary li a:hover, header .secondary li .search:hover {
  color: #00368F;
}
header .secondary li a:hover .hover, header .secondary li .search:hover .hover {
  display: initial;
}
header .secondary li a:hover .default, header .secondary li .search:hover .default {
  display: none;
}
header .secondary .icon {
  width: 22px;
}
header .secondary .search-pc {
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 6px 0;
  position: relative;
  box-sizing: border-box;
}
header .secondary .search-pc .search {
  position: relative;
  z-index: 2;
}
header .secondary .search-pc * {
  box-sizing: border-box;
}
header .secondary .search-pc form {
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1300px) {
  header .secondary .search-pc form {
    width: 175px;
  }
}
header .secondary .search-pc form input {
  width: 100%;
  height: calc(100% - 2px);
  border: 1px solid #00368F;
  border-radius: 50px;
  padding: 0 20px;
}
header .secondary .search-pc form img {
  position: absolute;
  width: 13px;
  top: 50%;
  right: 9px;
  transform: translateY(-50%) rotate(45deg);
}
header .secondary .search-pc.search-open form {
  z-index: 3;
  opacity: 1;
  visibility: visible;
}
header .lang-switch {
  display: flex;
  align-items: center;
}
header .lang-switch .switch {
  width: 28px;
  height: 16px;
  background: #C0C0C0;
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
}
header .lang-switch .switch:before {
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #DE1339;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 3px;
}
header .lang-switch span:first-child {
  color: #DE1339;
}
header .lang-switch.on .switch:before {
  left: initial;
  right: 2px;
}
header .lang-switch.on span:first-child {
  color: #000000;
}
header .lang-switch.on span:last-child {
  color: #DE1339;
}
header nav.mb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav.mb.open-accord ul li {
  display: none;
}
header nav.mb.open-accord ul li:last-child {
  display: block;
}
header nav.mb .logo {
  display: block;
  width: 100px;
}
header nav.mb ul {
  display: flex;
}
header nav.mb ul li {
  margin-right: 12px;
}
header nav.mb ul li:nth-last-child(2) {
  margin-right: 0;
}
header nav.mb ul li:last-child {
  display: none;
  margin-right: 0;
}
header nav.mb ul img {
  width: 18px;
}
header nav.mb ul .close-accordion {
  transform: rotate(45deg);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 8;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
}
.backdrop.active {
  opacity: 1;
  visibility: visible;
}

.mb.search {
  margin-top: 0;
  height: 0px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  opacity: 0;
  background: #fff;
  z-index: 9;
}
.mb.search input {
  width: 100%;
  height: 35px;
  display: block;
  border: 1px solid #00368F;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 0 12px;
}
.mb.search.active {
  height: 53px;
  opacity: 1;
}
.mb.search.active + header {
  margin-top: 53px;
}
.mb.search.active + header + .acc-drawer {
  top: 53px;
}
.mb.search .close-search {
  position: absolute;
  top: 50%;
  right: 28px;
  width: 16px;
  transform: translateY(-50%) rotate(45deg);
}

.acc-drawer {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background: #fff;
  transition: all 0.3s ease;
  z-index: 8;
}
.acc-drawer a {
  color: #000000;
}
.acc-drawer.active {
  opacity: 1;
}
.acc-drawer.active + main {
  transform: translateY(100vh);
}
.acc-drawer .sec {
  padding: 16px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
}
.acc-drawer .sec h2 {
  font-size: 16px;
  font-weight: 500;
}
.acc-drawer .sec h2 span {
  position: relative;
}
.acc-drawer .sec h2 span::before {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #DE1339;
}
.acc-drawer .sec h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
  padding-left: 18px;
}
.acc-drawer .sec .sec-inner {
  padding-bottom: 25px;
  margin-top: 12px;
}
.acc-drawer .sec .sec-inner.passenger {
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
}
.acc-drawer .sec .sec-inner ul {
  display: flex;
}
.acc-drawer .sec .sec-inner ul li {
  width: 33.3333333333%;
  text-align: center;
  font-size: 14px;
}
.acc-drawer .sec .sec-inner ul li img {
  width: 90%;
}
.acc-drawer .sec .sub-menu {
  display: flex;
  margin-top: 12px;
  flex-wrap: wrap;
}
.acc-drawer .sec .sub-menu li {
  width: 33.3333333333%;
  font-size: 14px;
}
.acc-drawer .social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 25px;
}
.acc-drawer .social a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acc-drawer .social a img {
  margin-bottom: 8px;
}

main {
  min-height: 100vh;
  transition: transform 0.6s ease;
  z-index: 8;
  position: relative;
}

body.open {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carry-pro-banner {
  width: 100%;
  height: 100vh;
  position: relative;
}
.carry-pro-banner .img-main {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.carry-pro-banner .img-main.mb {
  display: block;
  height: inherit;
  width: 100%;
}
.carry-pro-banner .plus {
  width: 12.5vw;
  position: absolute;
  top: 12vh;
  left: 200px;
}
@media screen and (max-width: 1300px) {
  .carry-pro-banner .plus {
    left: 100px;
  }
}
@media screen and (max-width: 991px) {
  .carry-pro-banner .plus {
    left: unset;
    right: 32px;
    top: 19px;
    width: 27%;
  }
}

.banner-bottom-group {
  position: absolute;
  left: 200px;
  bottom: 16vh;
}
.banner-bottom-group .logo {
  width: 30vw;
  margin-bottom: 20px;
}
.banner-bottom-group .btn:not(:last-child) {
  margin-right: 18px;
}
@media screen and (max-width: 1300px) {
  .banner-bottom-group {
    left: 100px;
  }
}
@media screen and (max-width: 991px) {
  .banner-bottom-group {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 50px;
  }
  .banner-bottom-group .logo {
    width: 80%;
  }
}

.btn {
  padding: 8px 12px;
  height: 42px;
  min-width: 150px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  color: #000;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.btn.lg {
  min-width: 200px;
}
@media screen and (max-width: 991px) {
  .btn.lg {
    min-width: 150px;
  }
}
.btn .txt {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.btn .icn {
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
  opacity: 0;
}
.btn .icn img {
  width: 22px;
  display: block;
  margin: 0 auto;
}
.btn:hover .txt {
  top: 0;
  opacity: 0;
}
.btn:hover .icn {
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  opacity: 1;
}
.btn.light {
  border-color: #fff;
  color: #fff;
}
.btn.solid {
  background: #000;
  color: #fff;
}
.btn.solid.light {
  background: #fff;
  color: #000;
}
.btn.slide-up span, .btn.slide-in span {
  position: relative;
  z-index: inherit;
  text-transform: capitalize;
}
.btn.slide-up::before, .btn.slide-in::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  transition: all 0.3s ease;
}
.btn.slide-up:hover, .btn.slide-in:hover {
  color: #fff !important;
}
.btn.slide-up:hover::before, .btn.slide-in:hover::before {
  top: 0;
}
.btn.slide-in::before {
  top: -100%;
  left: 0;
  background: #000;
}
.btn.slide-in:hover {
  color: #fff !important;
}
.btn.slide-in:hover::before {
  top: 0;
}
.btn.slide-in.reverse {
  color: #fff !important;
}
.btn.slide-in.reverse::before {
  top: 0%;
  left: 0;
  background: #000;
}
.btn.slide-in.reverse:hover {
  color: #000 !important;
}
.btn.slide-in.reverse:hover::before {
  top: -100%;
}
@media screen and (max-width: 1300px) {
  .btn {
    font-size: 14px;
    height: 40px;
    min-width: 120px;
  }
}

.sec-half-gradient {
  width: 100%;
  height: 100vh;
  display: flex;
}
@media screen and (min-width: 992px) {
  .sec-half-gradient.black {
    background: #000;
    color: #fff;
  }
  .sec-half-gradient.light {
    background: #fff;
  }
}
.sec-half-gradient .img {
  width: 57%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 992px) {
  .sec-half-gradient .img {
    position: relative;
  }
  .sec-half-gradient .img::before {
    content: " ";
    display: inline-block;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, #000, transparent);
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media screen and (min-width: 992px) {
  .sec-half-gradient.light .img::before {
    background: linear-gradient(to right, #fff, transparent);
  }
}
.sec-half-gradient .sec-txt {
  width: 43%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 200px;
}
@media screen and (max-width: 1300px) {
  .sec-half-gradient .sec-txt {
    padding-left: 100px;
  }
}
.sec-half-gradient .sec-txt p {
  line-height: 21px;
  margin-bottom: 26px;
}
.sec-half-gradient.rev {
  flex-direction: row-reverse;
}
.sec-half-gradient.rev .sec-txt {
  padding-left: 32px;
  padding-right: 200px;
}
@media screen and (max-width: 1300px) {
  .sec-half-gradient.rev .sec-txt {
    padding-left: 32px;
    padding-right: 100px;
  }
}
@media screen and (min-width: 992px) {
  .sec-half-gradient.rev .img::before {
    background: linear-gradient(to left, #000, transparent);
    left: unset;
    right: 0;
  }
}
@media screen and (max-width: 991px) {
  .sec-half-gradient {
    display: block;
    height: initial;
    padding-bottom: 32px;
    border-bottom: 1px solid #707070;
  }
  .sec-half-gradient .img, .sec-half-gradient .sec-txt {
    width: 100%;
  }
  .sec-half-gradient .sec-txt {
    padding: 32px 16px 0 !important;
  }
  .sec-half-gradient .sec-txt h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .sec-half-gradient .sec-txt p {
    margin-bottom: 10px;
  }
  .sec-half-gradient .img {
    padding: 16px;
    padding-top: 0;
    background: none !important;
    box-sizing: border-box;
  }
  .sec-half-gradient .img img {
    width: 100%;
    display: block;
  }
}

footer {
  background: #2B2B2B;
  color: #fff;
}
footer .nav {
  padding: 40px 200px;
}
@media screen and (max-width: 2560px) {
  footer .nav {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 1200px) {
  footer .nav {
    padding-left: 50px;
    padding-right: 50px;
  }
}
footer .nav a {
  color: #fff;
}
footer .nav a:hover {
  text-decoration: underline;
}
footer .nav > ul {
  display: flex;
}
footer .nav > ul > li.nav-list {
  width: 200px;
}
footer .nav > ul > li.address {
  width: 300px;
}
footer .nav > ul > li.address strong {
  font-weight: 500;
  display: inline-block;
  margin-top: 22px;
}
footer .nav > ul > li.address p {
  margin-bottom: 0;
}
footer .nav > ul > li h3 {
  border-bottom: 1px solid #fff;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 1440px) {
  footer .nav > ul > li h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  footer .nav > ul > li h3 {
    font-size: 16px;
  }
}
footer .nav > ul > li ul {
  margin-top: 22px;
}
footer .nav > ul > li li {
  margin-bottom: 22px;
}
footer .nav > ul .logo {
  background: #fff;
  display: inline-block;
  width: 9vw;
  box-sizing: content-box;
  padding: 8px 12px;
  margin-top: 55px;
}
footer .nav > ul .logo img {
  width: 100%;
  display: block;
}
footer .nav > ul .social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 16px;
}
footer .nav > ul .social img {
  display: block;
  width: 35px;
}
@media screen and (max-width: 991px) {
  footer .nav.mb {
    padding-left: 16px;
    padding-right: 16px;
  }
}
footer .nav.mb > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
footer .nav.mb > ul > li {
  width: 50%;
}
footer .nav.mb > ul > li ul {
  margin-top: 0;
  margin-bottom: 30px;
}
footer .nav.mb > ul > li ul li {
  margin-bottom: 15px;
}
footer .nav.mb > ul .address {
  width: 100%;
}
footer .nav.mb > ul .address strong {
  margin-top: 0px;
}
footer .nav.mb > ul .address p {
  margin-top: 8px;
}
footer .nav.mb > ul .hotline {
  align-self: flex-end;
}
footer .nav.mb .primary {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 600;
  margin-bottom: 12px;
  display: inline-block;
}
footer .copyright {
  text-align: center;
  padding: 21px 0;
  border-top: 1px solid #fff;
}
footer .copyright a {
  color: #fff;
  text-decoration: underline;
}

.sec-dealer-info {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}
.sec-dealer-info:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #000, transparent);
}
.sec-dealer-info .sec-txt, .sec-dealer-info .sec-img {
  flex: 1;
  height: 100%;
  position: relative;
  z-index: inherit;
}
.sec-dealer-info .sec-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding-left: 200px;
}
.sec-dealer-info .sec-txt p {
  line-height: 21px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1300px) {
  .sec-dealer-info .sec-txt {
    padding-left: 100px;
  }
}
.sec-dealer-info .sec-img {
  display: flex;
  align-items: center;
  padding-right: 100px;
}
.sec-dealer-info .sec-img img {
  display: block;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .sec-dealer-info {
    height: inherit;
    display: block;
    background: none !important;
    padding-bottom: 32px;
    border-bottom: 1px solid #707070;
  }
  .sec-dealer-info::before {
    display: none;
  }
  .sec-dealer-info .sec-txt, .sec-dealer-info .sec-img {
    height: inherit;
    width: 100%;
  }
  .sec-dealer-info .sec-txt {
    padding: 32px 16px 0;
    color: #000;
  }
  .sec-dealer-info .sec-img {
    padding: 0 16px;
  }
  .sec-dealer-info .sec-img img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.home-model-slider {
  padding: 65px 100px;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .home-model-slider {
    padding: 32px 50px;
  }
}
@media screen and (max-width: 991px) {
  .home-model-slider {
    padding: 32px 0;
    border-bottom: 1px solid #302F2D;
  }
}
.home-model-slider::before {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 48%;
  top: 0;
  left: 0;
  background: #302F2D;
}
@media screen and (max-width: 14400px) {
  .home-model-slider::before {
    height: 45%;
  }
}
@media screen and (max-width: 991px) {
  .home-model-slider::before {
    height: 40%;
  }
}
.home-model-slider h2 {
  text-align: center;
  color: #fff;
  position: relative;
  margin-bottom: 50px;
}
@media screen and (max-width: 1440px) {
  .home-model-slider h2 {
    margin-bottom: 25px;
  }
}
.home-model-slider ul {
  position: relative;
}
.home-model-slider ul .img {
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease;
  transform: scale(0.8);
  width: 90%;
  margin-bottom: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 991px) {
  .home-model-slider ul .img {
    width: 100%;
    transform: scale(1);
  }
}
.home-model-slider ul .content {
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
}
.home-model-slider ul .content .btn-group .btn:first-child {
  margin-right: 18px;
}
@media screen and (max-width: 1360px) {
  .home-model-slider ul .content .btn-group .btn {
    min-width: 150px;
  }
}
@media screen and (max-width: 1200px) {
  .home-model-slider ul .content .btn-group .btn {
    min-width: 140px;
  }
}
.home-model-slider ul .content h2 {
  font-family: Suzuki;
  color: #000000;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 55px;
  margin-bottom: 0;
}
@media screen and (max-width: 1440px) {
  .home-model-slider ul .content h2 {
    font-size: 42px;
  }
}
@media screen and (max-width: 1200px) {
  .home-model-slider ul .content h2 {
    font-size: 18px;
    line-height: 22px;
  }
}
.home-model-slider ul .content h4 {
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1440px) {
  .home-model-slider ul .content h4 {
    font-size: 32px;
  }
}
@media screen and (max-width: 1200px) {
  .home-model-slider ul .content h4 {
    font-size: 17px;
    line-height: 22px;
  }
}
.home-model-slider ul .content .price {
  font-size: 42px;
  font-weight: 600;
  line-height: 49px;
  color: #DE1339;
  margin-bottom: 33px;
}
@media screen and (max-width: 1440px) {
  .home-model-slider ul .content .price {
    font-size: 28px;
  }
}
@media screen and (max-width: 1300px) {
  .home-model-slider ul .content .price {
    font-size: 18px;
    line-height: 22px;
  }
}
.home-model-slider .slick-arrow {
  position: absolute;
  top: 70%;
  width: 50px;
  height: 50px;
  color: transparent;
  border: none;
  background-image: url("../assets/img/icon/dark/chevron-left.png");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  z-index: 5;
}
.home-model-slider .slick-arrow.slick-next {
  right: 0px;
  background-image: url("../assets/img/icon/dark/chevron-right.png");
}
@media screen and (max-width: 1300px) {
  .home-model-slider .slick-arrow {
    background-size: 12px;
  }
}
@media screen and (min-width: 992px) {
  .home-model-slider .slick-current + .slick-slide .img {
    transform: scale(1.3);
  }
  .home-model-slider .slick-current + .slick-slide .content {
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {
  .home-model-slider .slick-current img {
    transform: scale(1.1);
  }
  .home-model-slider .slick-current .content {
    opacity: 1;
  }
}

.highlight-img {
  display: flex;
  background: #000;
}
.highlight-img .sec-img {
  width: 65%;
}
.highlight-img .sec-img img {
  display: block;
  width: 100%;
}
.highlight-img .sec-txt {
  width: 35%;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 200px;
}
.highlight-img .sec-txt p {
  margin-bottom: 25px;
}
@media screen and (max-width: 1300px) {
  .highlight-img .sec-txt {
    padding-left: 100px;
  }
}
@media screen and (max-width: 991px) {
  .highlight-img {
    display: block;
    background: transparent;
    border-bottom: 1px solid #302F2D;
  }
  .highlight-img .sec-txt, .highlight-img .sec-img {
    width: 100%;
  }
  .highlight-img .sec-txt {
    padding: 32px 16px 0;
    color: #000;
  }
  .highlight-img .sec-img {
    background: #000;
    display: block;
    width: calc(100% - 32px);
    margin: 0 auto;
  }
  .highlight-img .btn {
    display: block;
    max-width: 150px;
    margin: 16px auto 32px;
  }
}

.home-news {
  padding: 60px 200px;
}
@media screen and (max-width: 1920px) {
  .home-news {
    padding: 45px 150px;
  }
}
@media screen and (max-width: 1440px) {
  .home-news {
    padding: 45px 100px;
  }
}
@media screen and (max-width: 1200px) {
  .home-news {
    padding: 45px 50px;
  }
}
@media screen and (max-width: 991px) {
  .home-news {
    padding: 32px 16px;
    border-bottom: 1px solid #302F2D;
  }
}
.home-news h2 {
  text-align: center;
  margin-bottom: 54px;
}
@media screen and (max-width: 991px) {
  .home-news h2 {
    margin-bottom: 32px;
  }
}
.home-news ul {
  display: flex;
  justify-content: space-between;
}
.home-news ul li {
  display: flex;
  width: calc(50% - 16px);
}
@media screen and (max-width: 991px) {
  .home-news ul {
    display: block;
  }
  .home-news ul li {
    width: 100%;
    margin-bottom: 32px;
  }
  .home-news ul li:last-child {
    margin-bottom: 0;
  }
}
.home-news .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid rgba(204, 204, 204, 0.5);
  padding-right: 12px;
  margin-right: 12px;
}
.home-news .date .mmm {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}
.home-news .date .dd {
  font-size: 52px;
  font-weight: 600;
  line-height: 58px;
  color: #00368F;
}
.home-news .date .yyyy {
  font-size: 24px;
  line-height: 29px;
}
@media screen and (max-width: 1920px) {
  .home-news .date .mmm {
    font-size: 29px;
    line-height: 34px;
  }
  .home-news .date .dd {
    font-size: 47px;
    font-weight: 600;
    line-height: 55px;
  }
  .home-news .date .yyyy {
    font-size: 23px;
    line-height: 27px;
  }
}
@media screen and (max-width: 1440px) {
  .home-news .date .mmm {
    font-size: 22px;
    line-height: 26px;
  }
  .home-news .date .dd {
    font-size: 37px;
    line-height: 29px;
  }
  .home-news .date .yyyy {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 991px) {
  .home-news .date .mmm {
    font-size: 14px;
    line-height: 20px;
  }
  .home-news .date .dd {
    font-size: 22px;
    line-height: 26px;
  }
  .home-news .date .yyyy {
    font-size: 12px;
    line-height: 18px;
  }
}
.home-news .img {
  margin-right: 12px;
}
.home-news .img img {
  display: block;
  max-width: 11vw;
}
@media screen and (max-width: 991px) {
  .home-news .img img {
    max-width: unset;
    width: 91px;
  }
}
.home-news .content {
  position: relative;
}
.home-news .content .read-more {
  position: absolute;
  bottom: 12px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
}
.home-news .content .read-more img {
  width: 12px;
  margin-left: 8px;
}
.home-news .content .new-title {
  font-size: 20px;
  font-weight: 600;
}
.home-news .content .read-more {
  color: #000;
}
.home-news .content .new-category {
  font-size: 16px;
  margin-bottom: 8px;
  color: #DE1339;
}
@media screen and (max-width: 1920px) {
  .home-news .content .read-more {
    font-size: 14px;
  }
  .home-news .content .new-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 1200px) {
  .home-news .content .new-title {
    font-size: 14px;
    font-weight: 600;
  }
  .home-news .content .new-category {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .home-news .content .read-more {
    bottom: 0;
  }
}
.home-news .btn {
  display: block;
  margin: 100px auto 0;
  max-width: 200px;
}
@media screen and (max-width: 991px) {
  .home-news .btn {
    max-width: 150px;
    margin-top: 50px;
  }
}

.new-letters {
  padding: 57px 0;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-letters h2 {
  margin-bottom: 0;
  font-size: 40px;
  margin-right: 16px;
}
.new-letters input {
  width: 24vw;
  height: 40px;
  border: 0.5px solid #000;
  background: #fff;
  border-radius: 5px;
  margin-right: 16px;
  padding-left: 12px;
  padding-right: 12px;
}
@media screen and (max-width: 1920px) {
  .new-letters h2 {
    font-size: 36px;
  }
  .new-letters input {
    width: 18vw;
  }
}
@media screen and (max-width: 991px) {
  .new-letters {
    flex-direction: column;
  }
  .new-letters h2, .new-letters input {
    margin-right: 0;
  }
  .new-letters h2 {
    font-size: 22px;
    margin-bottom: 21px;
  }
  .new-letters input {
    width: 75%;
    margin-bottom: 25px;
  }
}